<p>I'm the app component!</p>

<!-- <hr />
<app-action-bar (numberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
<app-action-bar (numberChange)="testNumberChange($event)" [step]="10"></app-action-bar>
<br>
<button type="button" (click)="testClick()">testEventBinding</button>

<hr />
<P>Add Function Max-Min_Meter from max-min-meter component</P>
<app-max-min-meter
  [minLabel]="MyminLabel"
  [maxLabel]="MymaxLabel"
  (maxChange)="doAppMaxChange($event)"
  (minChange)="doAppMinChange($event)">

</app-max-min-meter> -->

<hr />

<!-- <div>
  <button type="button" (click)="activeEdit=true">Show</button>
  <button type="button" (click)="activeEdit=false">X</button>
</div>
<div *ngIf="activeEdit">
  <div>Edit width
    <button type="button" (click)="MydivWidth=10">10px</button>
    <button type="button" (click)="MydivWidth=40">40px</button>
    <button type="button" (click)="MydivWidth=100">100px</button>
    <label for=""> width : {{MydivWidth}}px</label>
  </div>
  <div>Edit height
    <button type="button" (click)="MydivHeight=10">10px</button>
    <button type="button" (click)="MydivHeight=40">40px</button>
    <button type="button" (click)="MydivHeight=100">100px</button>
    <label for=""> height : {{MydivHeight}}px</label>
  </div>
  <app-sqaure-flex [divWidth]="MydivWidth" [divHeight]="MydivHeight">

  </app-sqaure-flex>
</div>
<hr /> -->

<!-- <button type="button" (click)="active=true">Show</button>
<div *ngIf="active else template1">
  <app-action-bar [counter]="appCounter" (numberChange)="appCounter = $event" [step]="10">
  </app-action-bar>
  <app-sqaure-flex [divWidth]="appCounter"></app-sqaure-flex>
</div>
<ng-template #template1>
  <div>
    <p>Template 1 </p>
  </div>
</ng-template> -->

<!-- <app-action-bar [inputDisplay]="false"></app-action-bar>
<app-action-bar [inputDisplay]="true"></app-action-bar> -->

<button type="button" (click)="pushData()">Push</button>
<button type="button" (click)="unshiftData()">Unshift</button>
<div>
  <span>
    <b>Array : {{customerList}}</b>
  </span>
  <ul>
    <li *ngFor="let customer of customerList;let i=index">
      {{customer}}
      <button type="button" style="margin-left: 4px;" (click)="deleteCus(i)">
        Delete
      </button>
    </li>
  </ul>
</div>
<hr>
<app-test-request-get></app-test-request-get>
